.longCard {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 5px;
}
.info {
  display: flex;
  align-items: center;
}

.info img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 25px;
  object-fit: cover;
  margin: 0 0.3rem;
}

.info h2 {
  opacity: 0.5;
}
.longCard:hover {
  color: #2596be;
  cursor: pointer;
}
