.right {
  flex-grow: 0.27;
  background-color: #141823;
  margin: 0 0.7rem 0 0.5rem;
  flex-direction: column;
  width: 200px;
}
.wrapper {
  display: flex;

  justify-content: space-around;
  flex-wrap: wrap;
}
