.container {
  display: flex;
  padding: 3px;

  color: white;
}
.Nav-section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}
.Nav-section div,
ul {
  width: 30%;
  color: white;
}
.Nav-section div:nth-child(1) {
  width: 20%;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
li {
  list-style: none;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile img {
  width: 2rem;
  height: 2rem;
  border-radius: 25px;
  object-fit: cover;
}
form input {
  background-color: rgb(45, 45, 45);
  border-radius: 25px;
  border: none;
  padding: 5px;
}
.title a {
  font-size: x-large;
}
