.headerDetails {
  width: 100%;
  box-sizing: border-box;
  display: flex;

  justify-content: space-between;
  padding: 0.2rem;
  margin-top: 0.5rem;
  align-items: center;
}
.headerDetails h3 {
  font-size: medium;
}
